.cover__subtitle {
    max-width: 360px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    margin: 0;
}

.cover__subtitle br {
    display: none;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
     .cover__subtitle br {
        display: initial;
     }
    }