.website__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  padding-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .website__url-heading {
    padding-bottom: 14px;
  }
}