.website__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  padding-bottom: 12px;
<<<<<<< HEAD
  text-transform: uppercase;
}
=======
}

>>>>>>> cb6d96e75626776a32a45e6c06cbe7d1e944567a
