.cover {
  background-image: url(../../images/cover_background.jpg);
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.cover::before {
  content: "";
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity linear .3s;
}

.cover:hover::before {
  opacity: .8;
}