.website__link {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  transition: opacity linear .3s;
}


.website__link:hover {
  opacity: .8;
}
