.place {
 display: flex;
 flex-wrap: wrap;
 max-width: 984px;
 padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 92px;
}

@media screen and (max-width: 767px) {
    .place {
        max-width: 720px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place {
        max-width: 928px;
    }
  }
